*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.btn-primary{
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #FF5959;
    padding: 16px 25px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: green;
}

/* header styles */
.banner{
    text-align: center;
    height: 420px;
    padding: 160px 330px;
    background-image: url(..//images/donation0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(78, 78, 78);
    background-blend-mode: multiply;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    line-height: 1.3em;
    color: white;
    margin-bottom: 10px;
}
.banner-info{
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
}

/* main section styles */
main{
    max-width: 1200px;
    margin: 0 auto;
}

/* donate section styles */
.donate{
    padding: 130px 300px;
    text-align: center;
}
.donate-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.donate-info{
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 50px;
}
.donate-box{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 50px;
}
.box{
    font-size: 30px;
    font-weight: 700;
    color: #707070;
    width: 123px;
    padding: 40px 20px;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    cursor: pointer;
}
.box:hover{
    color: #FF5959;
    border-color: #FF5959;
}
.other-info{
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 20px;
}
hr{
    text-align: center;
    width: 600px;
    margin-bottom: 20px;
    color: #dadada;
}

/* plan section styles */
.plan{
    padding: 30px 150px;
}
.plan-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.plan-info{
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 50px;
    text-align: center;
}
.card{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 0;
}
.card-box{
    padding: 40px 30px;
    border-radius: 5px;
}
#green{
    background-color: rgba(79, 157, 166, 0.1);
}
#pink{
    background-color: rgba(255, 89, 89, 0.1);;
}
#orange{
    background-color: #FFF4D6;
}
.card-box img{
    width: 60px;
    margin-bottom: 20px;
}
.box-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.box-info{
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}

/* Blog section styles */
.blogs{
    padding: 30px 150px;
}
.blog{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 120px 0;
}
.blog-content{
    width: 60%;
}
.blog-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 20px;
}
.blog-info{
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 20px;
}
.blog-img img{
    width: 450px;
}

/* Update section styles */
.update{
    padding: 40px 150px;
    margin-bottom: 40px;
    text-align: center;
}
.update-title{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 30px;
}
.update-info{
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 50px;
}
.update-form{
    margin: 30px 0;
}
.update-form input[type="email"]{
    width: 40%;
    padding: 10px 20px;
    border: 0;
    background-color: #D9D9D9;
    font-size: 14px;
    margin: 0;
}
.update-form input[type="button"]{
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #FF5959;
    padding: 8px 24px;
    border: 0;
    margin: 0;
    cursor: pointer;
}
.update-form input[type="button"]:hover{
    background-color: green;
}

/* footer section styles */
.foot{
    padding: 60px 0;
    text-align: center;
    background-color: #0B0D17;
}
.foot-title{
    font-size: 40px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #FF5959;
    margin-bottom: 20px;
}
.foot-info{
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-style: italic;
}


/* responsive design for mobile device */
@media screen and (max-width: 576px) {
    .banner{
        height: 300px;
        padding: 30px 10px;
        background-size: cover;
    }
    .banner-title{
        margin-top: 36px;
        font-size: 30px;
    }
    .banner-info{
        font-size: 18px;
        line-height: 1.2em;
    }
    .btn-primary{
        font-size: 14px;
        font-weight: 400;
        padding: 10px 20px;
    }
    .donate , .plan , .update{
        margin-top: 20px;
        padding: 30px 20px;
        text-align: center;
    }
    .donate-title , .plan-title , .blog-title , .update-title{
        font-size: 30px;
    }
    .donate-info , .plan-info , .update-info{
        font-size: 14px;
    }
    .donate-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    hr{
        width: 300px;
        margin: 20px auto;
    }
    .card{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .card-box img{
        width: 50px;
    }
    .box-title{
        font-size: 18px;
    }
    .box-info{
        font-size: 14px;
    }
    .blogs{
        padding: 30px 20px;
    }
    .blog{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        margin: 20px 0;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 30px 0;
    }
    .blog-img img{
        width: 100%;
    }
    .blog-content{
        width: 100%;
    }
    .update-form input[type="button"]{
        font-size: 14px;
    }
    .foot-title{
        font-size: 30px;
    }
}